{% extends 'base.html' %}
{%load staticfiles%}
{% block title %}Поиск маршрута{% endblock %}

{% block content %}
<div  class="container">
    <h2 class="centr"><span>Поиск маршрута</span></h2>
   

<div  class="container">
    
   <div class="row">
        <div class="col-md-8 mx-auto left">
            {% if messages %}
                <div class="alert alert-danger messages">
                        {% for message in messages %}
                        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Внимание!  {% endif %}
                            {{ message }}<br/>
                        </span>
                        {% endfor %}
                </div>
            {% endif %}
            <form class="update-data-form" action="{%url 'find_routes' %}" method="post">{% csrf_token %}
                {{form.as_p}}
          
                <button type="submit" class='btn btn-success ' >Найти</button>
            </form>
               
    
        </div>
    </div>
    
</div>
<div  class="container">
    
   <div class="row">
        <div class="col-md-8 mx-auto left">
            {% if routes %}
                <p> Маршрут из {{cities.from_city}} в {{cities.to_city}}</p>
                {% for route in routes %}
                    
                    <form class="update-data-form" action="{%url 'add_route' %}" method="get">
                        <input type='hidden' name='from_city' value='{{route.from_city}}' />
                        <input type='hidden' name='to_city' value='{{route.to_city}}' />
                        <input type='hidden' name='travel_time' value='{{route.time}}' />
                        <input type='hidden' name='trouth_cities' value='{% for tr in route.route %} {{tr.id}} {% endfor %}' />
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> Список поездов по пути следования</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for train in route.route %}
                            
                                    <tr>
                                        <td>
                                            Поезд № {{train.name}}, следующий из {{train.from_city}} в {{train.to_city}}. 
                                            Время в пути {{train.travel_time}} 
                                        </td>
                                    </tr>
                                
                            
                                {% endfor %}
                            </tbody>
                        </table>
                        <p> Общее время в пути {{route.time}}</p>
                        <button type="submit" class='btn btn-success ' >Сохранить маршрут</button><br/>
                    </form>
                    <br/><br/><br/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}


    
 
