{% extends 'base.html' %}
{%load staticfiles%}
{% block title %}Список поездов{% endblock %}

{% block content %}
<div  class="container">
    <h2 class="centr"><span>Детальная информация</span></h2>

   <div class="row">
        <div class="col-md-6 mx-auto">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Номер поезда</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th>Откуда</th>
                    <td>{{ object.from_city }}</td>
                </tr>
                <tr>
                    <th>Куда</th>
                    <td>{{ object.to_city }}</td>
                </tr>
                <tr>
                    <th>Время в пути</th>
                    <td>{{ object.travel_time }}</td>
                </tr>
                
                
            </tbody>
            </table>
                <a href="{%url 'train:home' %}">
                    <button type="button" class='btn btn-light ' >
                        Назад к списку 
                    </button>
                </a>   
                <a href="{%url 'train:update' pk=object.id %}">
                    <button type="button" class='btn btn-info ' >
                        Редактировать
                    </button>
                </a>
                
    
        </div>
    </div>
</div>
{% endblock %}
