{% extends 'base.html' %}
{%load staticfiles%}
{% block title %}Населенные пункты{% endblock %}

{% block content %}
<div  class="container">
    
   <div class="row">
        <div class="col-md-8 mx-auto left">
           
            <form class="update-data-form" action="" method="post">{% csrf_token %}
                {{form.as_p}}
          
                <button type="submit" class='btn btn-success ' >Сохранить</button>
            </form>
               
    
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <a href="{%url 'city:home' %}"><button  class='btn btn-primary' >Назад</button> </a>
        </div>
    </div>
</div>
{% endblock %}


